In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/SouravBiswal/py/master/ML/2_linear_reg_multivariate/homeprices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [5]:
import numpy as np
from sklearn import linear_model

In [7]:
median=df.bedrooms.median()
median

4.0

In [8]:
df.bedrooms= df.bedrooms.fillna(median)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [9]:
reg= linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [10]:
reg.predict([[3000,3,40]])

array([498408.25158031])

In [11]:
reg.predict([[2500,4,5]])

array([578876.03748933])